Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

change msg string to int
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

fix warn msg
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

add diagnostics
  perception/autoware_tracking_object_merger/include/autoware/tracking_object_merger/decorative_tracker_merger_node.hpp
  perception/autoware_tracking_object_merger/package.xml
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

chore
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

delete unnecesary include row
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

Deployed 191858c3a to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/planning/autoware_planning_validator/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  main/search/search_index.json
  main/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  main/sitemap.xml.gz
Labels: none

add open drawio link
  mkdocs_macros.py
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
Labels: type:documentation, component:planning

Deployed 191858c3a to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/control/autoware_obstacle_collision_checker/index.html
  latest/control/autoware_trajectory_follower_node/index.html
  latest/localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/index.html
  latest/perception/autoware_crosswalk_traffic_light_estimator/index.html
  latest/planning/autoware_freespace_planner/index.html
  latest/planning/autoware_mission_planner_universe/index.html
  latest/planning/autoware_obstacle_stop_planner/index.html
  latest/planning/autoware_path_optimizer/docs/mpt/index.html
  latest/planning/autoware_path_optimizer/index.html
  latest/planning/autoware_path_smoother/docs/eb/index.html
  latest/planning/autoware_planning_validator/index.html
  latest/planning/autoware_scenario_selector/index.html
  latest/planning/autoware_surround_obstacle_checker/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  latest/search/search_index.json
  latest/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  latest/sitemap.xml.gz
Labels: none

fix(autoware_behavior_path_planner_common): add explicit test dependency
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
Labels: component:planning

add bus stop area link
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
Labels: type:documentation, component:planning

fix(autoware_behavior_path_planner_common): add explicit test dependency (#10262)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/CMakeLists.txt
Labels: component:planning

feat(autoware_route_handler)!: port autoware_route_handler to Autoware Core
  planning/autoware_route_handler/CHANGELOG.rst
  planning/autoware_route_handler/CMakeLists.txt
  planning/autoware_route_handler/README.md
  planning/autoware_route_handler/images/lane_change_test_route.svg
  planning/autoware_route_handler/images/route_handler_test.svg
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/package.xml
  planning/autoware_route_handler/src/route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.hpp
  planning/autoware_route_handler/test_route/lane_change_test_route.yaml
  planning/autoware_route_handler/test_route/overlap_test_route.yaml
Labels: type:documentation, component:planning

feat(autoware_route_handler)!: port autoware_route_handler to Autoware Core (#10255)
  planning/autoware_route_handler/CHANGELOG.rst
  planning/autoware_route_handler/CMakeLists.txt
  planning/autoware_route_handler/README.md
  planning/autoware_route_handler/images/lane_change_test_route.svg
  planning/autoware_route_handler/images/route_handler_test.svg
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/package.xml
  planning/autoware_route_handler/src/route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.hpp
  planning/autoware_route_handler/test_route/lane_change_test_route.yaml
  planning/autoware_route_handler/test_route/overlap_test_route.yaml
Labels: type:documentation, component:planning

Deployed 60b910810 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/planning/autoware_remaining_distance_time_calculator/index.html
  main/planning/autoware_route_handler/images/lane_change_test_route.svg
  main/planning/autoware_route_handler/images/route_handler_test.svg
  main/planning/autoware_route_handler/index.html
  main/planning/autoware_rtc_interface/index.html
  main/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  main/search/search_index.json
  main/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Labels: type:documentation

Deployed 60b910810 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/control/autoware_trajectory_follower_node/index.html
  latest/localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/index.html
  latest/perception/autoware_crosswalk_traffic_light_estimator/index.html
  latest/planning/autoware_freespace_planner/index.html
  latest/planning/autoware_mission_planner_universe/index.html
  latest/planning/autoware_obstacle_stop_planner/index.html
  latest/planning/autoware_path_optimizer/docs/mpt/index.html
  latest/planning/autoware_path_optimizer/index.html
  latest/planning/autoware_path_smoother/docs/eb/index.html
  latest/planning/autoware_remaining_distance_time_calculator/index.html
  latest/planning/autoware_route_handler/images/lane_change_test_route.svg
  latest/planning/autoware_route_handler/images/route_handler_test.svg
  latest/planning/autoware_route_handler/index.html
  latest/planning/autoware_rtc_interface/index.html
  latest/planning/autoware_scenario_selector/index.html
  latest/planning/autoware_surround_obstacle_checker/index.html
  latest/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  latest/search/search_index.json
  latest/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Labels: type:documentation

fix msg
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

feat(autoware_map_projection_loader)!: move autoware_map_projection_loader package to Autoware Core
  map/autoware_map_projection_loader/CHANGELOG.rst
  map/autoware_map_projection_loader/CMakeLists.txt
  map/autoware_map_projection_loader/README.md
  map/autoware_map_projection_loader/config/map_projection_loader.param.yaml
  map/autoware_map_projection_loader/docs/map_projector_type.svg
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/load_info_from_lanelet2_map.hpp
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/map_projection_loader.hpp
  map/autoware_map_projection_loader/launch/map_projection_loader.launch.xml
  map/autoware_map_projection_loader/package.xml
  map/autoware_map_projection_loader/schema/map_projection_loader.schema.json
  map/autoware_map_projection_loader/src/load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
  map/autoware_map_projection_loader/test/data/map_projector_info_local.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_local_cartesian_utm.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_mgrs.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_transverse_mercator.yaml
  map/autoware_map_projection_loader/test/test_load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/test/test_node_load_local_cartesian_utm_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_local_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_mgrs_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_transverse_mercator_from_yaml.test.py
Labels: type:documentation, component:map

fix(autoware_universe_utils): fix procedure to check if point is on edge (#10260)
  common/autoware_universe_utils/src/geometry/alt_geometry.cpp
  common/autoware_universe_utils/test/src/geometry/test_alt_geometry.cpp
Labels: component:common

Update planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
Labels: type:documentation, component:planning

fix(static_obstacle_avoidance): turn signal chattering
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

fix: use snake case
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

refactor(bicycle_motion_model): implement exponential decay for slip angle in state prediction
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
Labels: component:perception

fix(static_obstacle_avoidance): turn signal chattering (#10202)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

feat(out_of_lane): add option to use stop lines defined in the vector map (#9584)
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/planner_data.cpp
Labels: type:documentation, component:planning

Deployed 33d6fc0e8 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  main/planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/index.html
  main/search/search_index.json
  main/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Labels: none

Deployed 33d6fc0e8 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/control/autoware_obstacle_collision_checker/index.html
  latest/control/autoware_trajectory_follower_node/index.html
  latest/localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/index.html
  latest/perception/autoware_crosswalk_traffic_light_estimator/index.html
  latest/planning/autoware_costmap_generator/index.html
  latest/planning/autoware_freespace_planner/index.html
  latest/planning/autoware_mission_planner_universe/index.html
  latest/planning/autoware_obstacle_cruise_planner/index.html
  latest/planning/autoware_obstacle_stop_planner/index.html
  latest/planning/autoware_path_optimizer/docs/mpt/index.html
  latest/planning/autoware_path_optimizer/index.html
  latest/planning/autoware_path_smoother/docs/eb/index.html
  latest/planning/autoware_surround_obstacle_checker/index.html
  latest/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  latest/planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/index.html
  latest/search/search_index.json
  latest/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Labels: none

fix(goal_planner): invert lane boundary of neighbor opposite lanelets when generating departure check lane
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning

remove unnecessary loop
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning

update fig
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-state-transition.drawio.svg
Labels: type:documentation, component:planning

Deployed dc8ab5e07 to pr-10263 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10263/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-state-transition.drawio.svg
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-10263/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  pr-10263/sitemap.xml
  pr-10263/sitemap.xml.gz
Labels: type:documentation

Deployed e625bf5b6 to pr-10263 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10263/planning/autoware_planning_validator/index.html
  pr-10263/planning/autoware_remaining_distance_time_calculator/index.html
  pr-10263/planning/autoware_route_handler/images/lane_change_test_route.svg
  pr-10263/planning/autoware_route_handler/images/route_handler_test.svg
  pr-10263/planning/autoware_route_handler/index.html
  pr-10263/planning/autoware_rtc_interface/index.html
  pr-10263/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-10263/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  pr-10263/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-10263/planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/index.html
  pr-10263/search/search_index.json
  pr-10263/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  pr-10263/sitemap.xml
  pr-10263/sitemap.xml.gz
Labels: type:documentation

fix(goal_planner): invert lane boundary of neighbor opposite lanelets when generating departure check lane (#10207)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning

docs(goal_planner): update README (#10263)
  mkdocs_macros.py
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/bad_shift_path.png
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/bezier_path.png
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal-pose-correct.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_candidates.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_distance.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-is_safe.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-longitudinal_margin.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-object_to_avoid.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-safety_check.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-state-transition.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-threads.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/pull_over_freespace_parking_flowchart.drawio.svg
Labels: type:documentation, component:planning

Deployed e60daf7d1 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/evaluator/autoware_localization_evaluator/index.html
  main/evaluator/autoware_scenario_simulator_v2_adapter/index.html
  main/perception/autoware_radar_object_clustering/index.html
  main/perception/autoware_traffic_light_visualization/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/bad_shift_path.png
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/bezier_path.png
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal-pose-correct.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_candidates.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_distance.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-is_safe.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-longitudinal_margin.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-object_to_avoid.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-safety_check.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-state-transition.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-threads.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/pull_over_freespace_parking_flowchart.drawio.svg
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  main/search/search_index.json
  main/sensing/autoware_radar_tracks_noise_filter/index.html
  main/sitemap.xml.gz
  main/system/autoware_default_adapi_helpers/autoware_adapi_adaptors/index.html
  main/system/autoware_processing_time_checker/index.html
Labels: type:documentation

fix(ndt_scan_matcher): fix the covariance calculation (#10252)
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp_impl.hpp
Labels: component:localization

merge namespace
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/geometry_utils.hpp
  planning/autoware_path_optimizer/src/utils/geometry_utils.cpp
Labels: component:planning

fix(obstacle_stop): use max_lat_margin_against_unknown only for predicted object
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:planning

feat(autoware_motion_velocity_planner_node) modify tier4_metric_msgs to autoware_internal_metric_msgs
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/launch/motion_velocity_planner.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/planner_manager.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/planner_manager.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/test/src/test_node_interface.cpp
Labels: type:documentation, component:planning

feat: add colored pose with covariance history
  visualization/tier4_localization_rviz_plugin/CMakeLists.txt
  visualization/tier4_localization_rviz_plugin/icons/classes/ColoredPoseWithCovarianceHistory.png
  visualization/tier4_localization_rviz_plugin/package.xml
  visualization/tier4_localization_rviz_plugin/plugins/plugin_description.xml
  visualization/tier4_localization_rviz_plugin/src/colored_pose_with_covariance_history/colored_pose_with_covariance_history_display.cpp
  visualization/tier4_localization_rviz_plugin/src/colored_pose_with_covariance_history/colored_pose_with_covariance_history_display.hpp
Labels: type:documentation

fix: transplant mistake
  visualization/tier4_localization_rviz_plugin/src/colored_pose_with_covariance_history/colored_pose_with_covariance_history_display.cpp
  visualization/tier4_localization_rviz_plugin/src/colored_pose_with_covariance_history/colored_pose_with_covariance_history_display.hpp
Labels: none
