Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

Deployed d91ee0a7b0 to pr-10193 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10193/search/search_index.json
  pr-10193/sensing/autoware_pointcloud_preprocessor/docs/blockage-diag/index.html
  pr-10193/sitemap.xml
  pr-10193/sitemap.xml.gz
Labels: none

feat(autoware_planning_factor_interface): porting autoware_planning_factor_interface, autoware_planning_factor_interface, remove from universe : v0.0
  planning/autoware_planning_factor_interface/CHANGELOG.rst
  planning/autoware_planning_factor_interface/CMakeLists.txt
  planning/autoware_planning_factor_interface/README.md
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_planning_factor_interface/src/planing_factor_interface.cpp
Labels: type:documentation, component:planning

fix find_yield_cruise_obstacles() calling
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
Labels: component:planning

fix(compare_map_filter): deadlock bug fix (#10222)
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception

feat(autoware_planning_factor_interface): porting autoware_planning_factor_interface, autoware_planning_factor_interface, remove from universe : v0.0
  planning/autoware_planning_factor_interface/CHANGELOG.rst
  planning/autoware_planning_factor_interface/CMakeLists.txt
  planning/autoware_planning_factor_interface/README.md
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_planning_factor_interface/src/planing_factor_interface.cpp
Labels: type:documentation, component:planning

feat(autoware_planning_factor_interface): remove from universe (#10243)
  planning/autoware_planning_factor_interface/CHANGELOG.rst
  planning/autoware_planning_factor_interface/CMakeLists.txt
  planning/autoware_planning_factor_interface/README.md
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_planning_factor_interface/src/planing_factor_interface.cpp
Labels: type:documentation, component:planning

chore(sync-files.yaml): not synchronize `github-release.yaml` (#1776)
  .github/sync-files.yaml
Labels: type:ci

Update planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
Labels: type:documentation, component:planning

correct parameters description
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
Labels: type:documentation, component:planning

modify drivable area expansion to avoid static objects
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_drivable_area_expansion.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_footprints.cpp
Labels: component:planning

rename parameters and update drivable area design md
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
Labels: type:documentation, component:planning

add ahead_stopped prameter
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/config/obstacle_cruise.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/parameters.hpp
Labels: type:documentation, component:planning

feat(probabilistic_occupancy_grid_map): add diagnostics warning when latency is too long
  perception/autoware_probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
Labels: component:perception

chore
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch

rename ahead_stopped -> side_stopped
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/config/obstacle_cruise.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/parameters.hpp
Labels: type:documentation, component:planning

fix(out_of_lane): fix condition to keep using previous stop pose within some time buffer (#10140)
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
Labels: component:planning

feat(planning_factor): support new cruise planner's factor (#10229)
  system/autoware_default_adapi/src/planning.cpp
Labels: component:system

remap topics for path_generator
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

fix(obstacle_cruise_planner): ignore invalid stopping objects (#10227)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/config/obstacle_cruise.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/parameters.hpp
Labels: type:documentation, component:planning

update planning_evaluator schema
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
Labels: component:evaluator

add metric of stop_deviation
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/deviation_metrics.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/param/control_evaluator.defaults.yaml
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator

pre-commit
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/deviation_metrics.hpp
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator

add unit test and schema
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator

remove unused include.
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
Labels: component:evaluator

fix bug
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/config/control_evaluator.param.yaml
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator

fix(tier4_planning_launch): remap topics for path_generator (#10249)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

fix for point-cloud stop point
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
Labels: component:planning

feat(control_evaluator): add a new stop_deviation metric (#10246)
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/config/control_evaluator.param.yaml
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/param/control_evaluator.defaults.yaml
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
Labels: component:evaluator

refactor(multi_object_tracker): use const reference in loop and simplify tracker update logic
  perception/autoware_multi_object_tracker/src/debugger/debug_object.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception

refactor(multi_object_tracker): streamline input channel configuration handling
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/association/association.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/object_model/types.cpp
  perception/autoware_multi_object_tracker/lib/odometry.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/ctrv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/cv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.hpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.cpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.hpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception

refactor(multi_object_tracker): update shape handling and streamline object tracking logic
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
Labels: component:perception

refactor(multi_object_tracker): modify getNearestCornerOrSurface function signature and update related logic
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception

refactor(multi_object_tracker): update shape handling to use geometry_msgs::msg::Point for anchor vectors
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
Labels: component:perception

fix(obstacle_stop): accounting for vehicle bumper length when handling point-cloud stop points (#10250)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
Labels: component:planning

refactor: use optional
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
Labels: component:planning

chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: type:ci

pre-commit
  perception/autoware_traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
Labels: component:perception

fix
  perception/autoware_traffic_light_visualization/src/traffic_light_map_visualizer/node.cpp
Labels: component:perception

fix: std
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/planner_manager.hpp
Labels: component:planning

fix(path_optimizer): remove unnecesary optional (#10181)
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
Labels: component:planning
