Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

fix(safety_check): set safety condition properly
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning

fix(lane_change): set safety factor properly
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning

fix(autoware_tensorrt_common): invalid engine model file
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
Labels: component:perception

WIP add accumulator-based metrics.
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/blinker_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/common_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/planning_factor_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/steer_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metric.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metrics_utils.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/output_metric.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_calculator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/parameters.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/package.xml
  evaluator/autoware_planning_evaluator/src/metric_accumulators/blinker_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/common_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/planning_factor_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/steer_accuulator.cpp
  evaluator/autoware_planning_evaluator/src/metrics_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metrics_counter.cpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: component:evaluator

pre-commit
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/common_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/planning_factor_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metric_accumulators/steer_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_accumulator.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/package.xml
  evaluator/autoware_planning_evaluator/src/metric_accumulators/blinker_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/common_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/planning_factor_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/metric_accumulators/steer_accuulator.cpp
  evaluator/autoware_planning_evaluator/src/metrics_accumulator.cpp
  evaluator/autoware_planning_evaluator/src/planning_evaluator_node.cpp
Labels: component:evaluator

chore: reduce timeout
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
Labels: component:perception

fix: misalignment when tranform back output
  perception/autoware_compare_map_segmentation/CMakeLists.txt
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
Labels: component:perception, component:sensing

clothoid geometric parking
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map_case2.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
Labels: component:planning

disable backward clothoid parking (not support yet)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning

modify some inconsistency
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning

restore unnecessary change
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map_case2.cpp
Labels: component:planning

append enable_clothoid_* param instead of *_use_clothoid
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/geometric_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/geometric_pull_out.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/data_structs.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
Labels: component:planning

modify inconsistency
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning

add velocity parameters for clothoid parking
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
Labels: component:planning

feat(auotawre_pointcloud_preprocessor): add missing vehicle msg depency
  sensing/autoware_pointcloud_preprocessor/package.xml
Labels: component:sensing

fix(safety_check): set safety condition properly (#10307)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning

remove unimplemented function declarations
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker_node.hpp
Labels: component:control

fix(autoware_pointcloud_preprocessor): resolve build error
  sensing/autoware_pointcloud_preprocessor/package.xml
Labels: component:sensing

- Updated previously incorrect conversion of input actuator signal that was used as steered tire angle - Updated the steering actuator conversion look-up table
  simulator/autoware_carla_interface/calibration_maps/steer_map.csv
  simulator/autoware_carla_interface/src/autoware_carla_interface/carla_ros.py
Labels: component:simulation

fix: typo
  perception/autoware_compare_map_segmentation/CMakeLists.txt
Labels: component:perception

feat(autoware_pointcloud_preprocessor): add missing vehicle msg depency (#10313)
  sensing/autoware_pointcloud_preprocessor/package.xml
Labels: component:sensing

feat(autoware_map_projection_loader)!: move autoware_map_projection_loader package to Autoware Core
  map/autoware_map_projection_loader/CHANGELOG.rst
  map/autoware_map_projection_loader/CMakeLists.txt
  map/autoware_map_projection_loader/README.md
  map/autoware_map_projection_loader/config/map_projection_loader.param.yaml
  map/autoware_map_projection_loader/docs/map_projector_type.svg
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/load_info_from_lanelet2_map.hpp
  map/autoware_map_projection_loader/include/autoware/map_projection_loader/map_projection_loader.hpp
  map/autoware_map_projection_loader/launch/map_projection_loader.launch.xml
  map/autoware_map_projection_loader/package.xml
  map/autoware_map_projection_loader/schema/map_projection_loader.schema.json
  map/autoware_map_projection_loader/src/load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
  map/autoware_map_projection_loader/test/data/map_projector_info_local.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_local_cartesian_utm.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_mgrs.yaml
  map/autoware_map_projection_loader/test/data/map_projector_info_transverse_mercator.yaml
  map/autoware_map_projection_loader/test/test_load_info_from_lanelet2_map.cpp
  map/autoware_map_projection_loader/test/test_node_load_local_cartesian_utm_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_local_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_mgrs_from_yaml.test.py
  map/autoware_map_projection_loader/test/test_node_load_transverse_mercator_from_yaml.test.py
Labels: type:documentation, component:map

fix(autoware_behavior_path_static_obstacle_avoidance_module): blinker bug in static obstacle avoidance (#10303)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

refactor(control): remove unimplemented function declarations (#10314)
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker_node.hpp
Labels: component:control

fix(goal_planner): use precise distance to objects for sorting candidate paths
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_safety_check.cpp
Labels: component:planning

fix: tool version
  common/autoware_cuda_dependency_meta/package.xml
Labels: component:common

fix: update tool version
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
Labels: component:sensing

feat!(autoware_overlay_rviz_plugin): removed the blinking function of turn_signal
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/turn_signals_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/turn_signals_display.cpp
Labels: none

autoware_tenssort_common): validate TensorRT engine version for cached engine
  perception/autoware_tensorrt_common/include/autoware/tensorrt_common/tensorrt_common.hpp
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
Labels: component:perception

Add missing packages and library linkage.
  visualization/autoware_perception_rviz_plugin/CMakeLists.txt
  visualization/autoware_perception_rviz_plugin/package.xml
Labels: none

No need for find_package because of autware_package
  visualization/autoware_perception_rviz_plugin/CMakeLists.txt
Labels: none

fix(autoware_carla_interface): improve lateral control tracking (#10312)
  simulator/autoware_carla_interface/calibration_maps/steer_map.csv
  simulator/autoware_carla_interface/src/autoware_carla_interface/carla_ros.py
Labels: component:simulation

fix(autoware_behavior_path_start_planner_module): update parameter name for geometric pull out max steer angle
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/data_structs.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
Labels: type:documentation, component:planning

fix(autoware_behavior_path_goal_planner_module): update max steer angle handling for parallel parking
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
Labels: type:documentation, component:planning

fix(motion_velocity_obstacle_xxx_module): fix debug topic name
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
Labels: component:planning

fix(autoware_behavior_path_start_planner_module): update parameter name for geometric pull out max steer angle
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/geometric_pull_out.cpp
Labels: component:planning

Deployed 23df14759 to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-6241/sitemap.xml.gz
Labels: none

Deployed 815db5ddb to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-6241/sitemap.xml.gz
Labels: none

Deployed 5504faf19 to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-6241/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  pr-6241/sitemap.xml.gz
Labels: none

Deployed edeaa564d to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-6241/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-6241/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-6241/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  pr-6241/sitemap.xml.gz
Labels: none

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*
