Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

Deployed 20a4667484 to pr-10193 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-10193/search/search_index.json
  pr-10193/sensing/autoware_pointcloud_preprocessor/docs/blockage_diag/index.html
  pr-10193/sensing/autoware_pointcloud_preprocessor/index.html
  pr-10193/sitemap.xml
  pr-10193/sitemap.xml.gz
Labels: none

Deployed cd14b2405d to pr-10193 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10193/sitemap.xml.gz
Labels: none

fix(lane_departure_checker): fix trajectory resampling logic to keep given interval
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
Labels: component:control

test(lane_departure_checker): add test case for consecutive small distances followed by large distance
  control/autoware_lane_departure_checker/test/test_resample_trajectory.cpp
Labels: component:control

feat(behavior_planning): add behavior_path_planner_type to launch path_generator (#10217)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

refactor(multi_object_tracker): update shape handling and streamline object tracking logic
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
Labels: component:perception

refactor(multi_object_tracker): streamline input channel configuration handling
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/association/association.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/object_model/types.cpp
  perception/autoware_multi_object_tracker/lib/odometry.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/ctrv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/cv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.hpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.cpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.hpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception

refactor(multi_object_tracker): use const reference in loop and simplify tracker update logic
  perception/autoware_multi_object_tracker/src/debugger/debug_object.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception

refactor(multi_object_tracker): update shape handling to use geometry_msgs::msg::Point for anchor vectors
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
Labels: component:perception

fix(lane_departure_checker): fix trajectory resampling logic to keep given interval (#10221)
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_resample_trajectory.cpp
Labels: component:control

reflect comment
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag.md
Labels: type:documentation, component:system

reflect comment
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag.md
Labels: type:documentation, component:system

feat: fix ci
  perception/autoware_tensorrt_yolov10/include/autoware/tensorrt_yolov10/calibrator.hpp
Labels: component:perception

docs(diagnostic_graph_aggregator): update document (#10199)
  system/autoware_diagnostic_graph_aggregator/doc/format/graph.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/and.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/or.md
Labels: type:documentation, component:system

Deployed 4649cf69d8 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
  main/system/autoware_diagnostic_graph_aggregator/doc/format/graph/index.html
  main/system/autoware_diagnostic_graph_aggregator/doc/format/unit/and/index.html
  main/system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag/index.html
  main/system/autoware_diagnostic_graph_aggregator/doc/format/unit/index.html
  main/system/autoware_diagnostic_graph_aggregator/doc/format/unit/or/index.html
Labels: none

Deployed 4649cf69d8 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/system/autoware_diagnostic_graph_aggregator/doc/format/graph/index.html
  latest/system/autoware_diagnostic_graph_aggregator/doc/format/unit/and/index.html
  latest/system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag/index.html
  latest/system/autoware_diagnostic_graph_aggregator/doc/format/unit/index.html
  latest/system/autoware_diagnostic_graph_aggregator/doc/format/unit/or/index.html
Labels: none

feat: fix ci
  perception/autoware_tensorrt_yolov10/CMakeLists.txt
Labels: component:perception

reworked
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:control, component:planning

Deployed d7f3f54524 to pr-10186 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10186/perception/autoware_image_projection_based_fusion/docs/images/fusion_algorithm.drawio.svg
  pr-10186/perception/autoware_image_projection_based_fusion/docs/images/lidar_camera_sync.svg
  pr-10186/perception/autoware_image_projection_based_fusion/index.html
  pr-10186/search/search_index.json
  pr-10186/sitemap.xml
  pr-10186/sitemap.xml.gz
  pr-10186/system/autoware_diagnostic_graph_aggregator/doc/format/graph/index.html
  pr-10186/system/autoware_diagnostic_graph_aggregator/doc/format/unit/and/index.html
  pr-10186/system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag/index.html
  pr-10186/system/autoware_diagnostic_graph_aggregator/doc/format/unit/index.html
  pr-10186/system/autoware_diagnostic_graph_aggregator/doc/format/unit/or/index.html
Labels: type:documentation

fix(autoware_hazard_status_converter): ignore errors during initialization
  system/autoware_hazard_status_converter/CMakeLists.txt
  system/autoware_hazard_status_converter/src/converter.cpp
  system/autoware_hazard_status_converter/src/converter.hpp
  system/autoware_hazard_status_converter/src/mode_interface.cpp
  system/autoware_hazard_status_converter/src/mode_interface.hpp
Labels: component:system

fix(compare_map_filter): deadlock bug fix
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception

feat(dummy_infrastructur): auto approval when ego stops at stop line
  system/autoware_dummy_infrastructure/config/dummy_infrastructure.param.yaml
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/launch/dummy_infrastructure.launch.xml
  system/autoware_dummy_infrastructure/package.xml
  system/autoware_dummy_infrastructure/schema/dummy_infrastructure.schema.json
  system/autoware_dummy_infrastructure/src/dummy_infrastructure_node/dummy_infrastructure_node.cpp
Labels: component:system

feat(autoware_pointcloud_preprocessor): add pointcloud_densifier package
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/README.md
  sensing/autoware_pointcloud_preprocessor/config/pointcloud_densifier.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/pointcloud-densifier.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/occupancy_grid.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/pointcloud_densifier_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/pointcloud_densifier.launch.py
  sensing/autoware_pointcloud_preprocessor/package.xml
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
  sensing/autoware_pointcloud_preprocessor/src/pointcloud_densifier/occupancy_grid.cpp
  sensing/autoware_pointcloud_preprocessor/src/pointcloud_densifier/pointcloud_densifier_node.cpp
Labels: type:documentation, component:sensing

ignore not specified stopping objects
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
Labels: component:planning

change debug print level
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
Labels: component:planning

chore(dummy_infrastructure): add maintainers kosuke55, 1222-takeshi, asa-naki
  system/autoware_dummy_infrastructure/package.xml
Labels: component:system

chore(dummy_infrastructure): add maintainers kosuke55, 1222-takeshi, asa-naki (#10228)
  system/autoware_dummy_infrastructure/package.xml
Labels: component:system

feat: adapt to latest code
  perception/autoware_tensorrt_yolov10/include/autoware/tensorrt_yolov10/tensorrt_yolov10_node.hpp
  perception/autoware_tensorrt_yolov10/package.xml
  perception/autoware_tensorrt_yolov10/src/tensorrt_yolov10_node.cpp
Labels: component:perception

support cruise planner's factor
  system/autoware_default_adapi/src/planning.cpp
Labels: component:system

not slowdown but slow_down
  system/autoware_default_adapi/src/planning.cpp
Labels: component:system

Update planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
Labels: type:documentation, component:planning

correct parameters description
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
Labels: type:documentation, component:planning

modify drivable area expansion to avoid static objects
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_drivable_area_expansion.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_footprints.cpp
Labels: component:planning

rename parameters and update drivable area design md
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
Labels: type:documentation, component:planning

Deployed 6d1a7d2e54 to pr-10220 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10220/perception/autoware_image_projection_based_fusion/docs/images/fusion_algorithm.drawio.svg
  pr-10220/perception/autoware_image_projection_based_fusion/docs/images/lidar_camera_sync.svg
  pr-10220/perception/autoware_image_projection_based_fusion/index.html
  pr-10220/search/search_index.json
  pr-10220/sitemap.xml
  pr-10220/sitemap.xml.gz
  pr-10220/system/autoware_diagnostic_graph_aggregator/doc/format/graph/index.html
  pr-10220/system/autoware_diagnostic_graph_aggregator/doc/format/unit/and/index.html
  pr-10220/system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag/index.html
  pr-10220/system/autoware_diagnostic_graph_aggregator/doc/format/unit/index.html
  pr-10220/system/autoware_diagnostic_graph_aggregator/doc/format/unit/or/index.html
Labels: type:documentation

feat(static_obstacle_avoidance): return original lane automatically
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

feat(dummy_infrastructure): auto approval when ego stops at stop line (#10223)
  system/autoware_dummy_infrastructure/config/dummy_infrastructure.param.yaml
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/launch/dummy_infrastructure.launch.xml
  system/autoware_dummy_infrastructure/package.xml
  system/autoware_dummy_infrastructure/schema/dummy_infrastructure.schema.json
  system/autoware_dummy_infrastructure/src/dummy_infrastructure_node/dummy_infrastructure_node.cpp
Labels: component:system

feat(autoware_object_recognition_utils): porting task, autoware_object_recognition_utils, remove from universe repo : v0.0
  common/autoware_object_recognition_utils/CHANGELOG.rst
  common/autoware_object_recognition_utils/CMakeLists.txt
  common/autoware_object_recognition_utils/README.md
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/conversion.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/geometry.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/matching.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_classification.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_recognition_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/predicted_path_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/transform.hpp
  common/autoware_object_recognition_utils/package.xml
  common/autoware_object_recognition_utils/src/conversion.cpp
  common/autoware_object_recognition_utils/src/predicted_path_utils.cpp
  common/autoware_object_recognition_utils/test/src/test_conversion.cpp
  common/autoware_object_recognition_utils/test/src/test_geometry.cpp
  common/autoware_object_recognition_utils/test/src/test_matching.cpp
  common/autoware_object_recognition_utils/test/src/test_object_classification.cpp
  common/autoware_object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: type:documentation, component:common

fix(autoware_pointcloud_preprocessor): add header
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/pointcloud_densifier_node.hpp
Labels: component:sensing

fix(autoware_pointcloud_preprocessor): add schema and fix debugger
  sensing/autoware_pointcloud_preprocessor/config/pointcloud_densifier.param.yaml
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/pointcloud_densifier/pointcloud_densifier_node.hpp
  sensing/autoware_pointcloud_preprocessor/schema/pointcloud_densifier_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/pointcloud_densifier/pointcloud_densifier_node.cpp
Labels: component:sensing

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*
