Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: type:ci

chore: sync files
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .pre-commit-config.yaml
  mkdocs.yaml
Labels: type:ci

feat(autoware_velocity_smoother): porting prepration, autoware_velocity_smoother, change function name convention: v0.0
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/resample.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/trajectory_utils.hpp
  planning/autoware_velocity_smoother/media/motion_velocity_smoother_flow.drawio.svg
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/resample.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/velocity_planning_utils.cpp
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
  planning/autoware_velocity_smoother/src/trajectory_utils.cpp
  planning/autoware_velocity_smoother/test/test_smoother_functions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/planner_data.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.cpp
Labels: type:documentation, component:planning

feat(autoware_velocity_smoother): porting prepration, autoware_velocity_smoother, update readme: v0.1
  planning/autoware_velocity_smoother/README.ja.md
  planning/autoware_velocity_smoother/README.md
Labels: type:documentation, component:planning

fix: json schema check
  map/autoware_map_loader/schema/lanelet2_map_loader.schema.json
Labels: component:map

chore: update map_loader `README.md`
  map/autoware_map_loader/README.md
Labels: type:documentation, component:map

chore: update map_loader documentation
  map/autoware_map_loader/README.md
Labels: type:documentation, component:map

chore: remove unused dep.
  map/autoware_dynamic_lanelet_provider/package.xml
Labels: component:map

feat(map): add differential lanelet loading
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/map.hpp
  common/autoware_component_interface_specs_universe/test/test_map.cpp
  launch/tier4_map_launch/launch/map.launch.xml
  map/autoware_dynamic_lanelet_provider/CMakeLists.txt
  map/autoware_dynamic_lanelet_provider/README.md
  map/autoware_dynamic_lanelet_provider/config/dynamic_lanelet_provider.param.yaml
  map/autoware_dynamic_lanelet_provider/include/autoware/dynamic_lanelet_provider/dynamic_lanelet_provider.hpp
  map/autoware_dynamic_lanelet_provider/launch/dynamic_lanelet_provider.launch.xml
  map/autoware_dynamic_lanelet_provider/package.xml
  map/autoware_dynamic_lanelet_provider/schema/dynamic_lanelet_provider.schema.json
  map/autoware_dynamic_lanelet_provider/src/dynamic_lanelet_provider.cpp
  map/autoware_map_loader/CMakeLists.txt
  map/autoware_map_loader/config/lanelet2_map_loader.param.yaml
  map/autoware_map_loader/include/autoware/map_loader/lanelet2_map_loader_node.hpp
  map/autoware_map_loader/schema/lanelet2_map_loader.schema.json
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.cpp
  map/map_loader/include/map_loader/lanelet2_differential_loader_module.hpp
  map/map_loader/include/map_loader/utils.hpp
Labels: type:documentation, component:common, component:launch, component:map

fix: wrong msg type in README.md
  map/autoware_dynamic_lanelet_provider/README.md
Labels: type:documentation, component:map

Update dependencies
  map/autoware_dynamic_lanelet_provider/package.xml
Labels: component:map

fix: json schema check
  map/autoware_map_loader/schema/lanelet2_map_loader.schema.json
Labels: component:map

fix: add region check
  map/autoware_dynamic_lanelet_provider/src/dynamic_lanelet_provider.cpp
Labels: component:map

chore: autoware_dynamic_lanelet_provider `README.md`
  map/autoware_dynamic_lanelet_provider/README.md
Labels: type:documentation, component:map

chore: make `enable_differential_loading` default `true`
  map/autoware_map_loader/config/lanelet2_map_loader.param.yaml
  map/autoware_map_loader/schema/lanelet2_map_loader.schema.json
Labels: component:map

chore: update maintainers
  map/autoware_dynamic_lanelet_provider/package.xml
Labels: component:map

fix: move header files
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.hpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.hpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.hpp
Labels: component:map

fix: replace tier4_map_msgs with autoware_map_msgs
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.hpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.cpp
Labels: component:map

feat: add multi lanelet2 map loading feature
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.hpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.hpp
Labels: component:map

fix: fix test in autoware_component_interface_specs_universe
  common/autoware_component_interface_specs_universe/test/test_map.cpp
Labels: component:common

refactor: improve handling of multiple lanelet2 paths
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
Labels: component:map

refactor: move common functions to util.hpp
  map/autoware_map_loader/CMakeLists.txt
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.hpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.hpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.hpp
Labels: component:map

fix: add missing namespace
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.hpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.hpp
Labels: component:map

fix: remove get_dummy_metadata function
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.hpp
Labels: component:map

Deployed 611731b08 to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/sitemap.xml.gz
Labels: none

fix: cppcheck error
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.hpp
Labels: component:map

Deployed 5bc6c6773 to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/sitemap.xml.gz
Labels: none

Deployed 7c821dce5 to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/sitemap.xml.gz
Labels: none

fix: build error in dynamic_lanelet_provider
  map/autoware_dynamic_lanelet_provider/include/autoware/dynamic_lanelet_provider/dynamic_lanelet_provider.hpp
  map/autoware_dynamic_lanelet_provider/package.xml
Labels: component:map

fix: precommit error
  map/autoware_dynamic_lanelet_provider/include/autoware/dynamic_lanelet_provider/dynamic_lanelet_provider.hpp
  map/autoware_dynamic_lanelet_provider/package.xml
  map/autoware_dynamic_lanelet_provider/src/dynamic_lanelet_provider.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_differential_loader_module.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/utils.cpp
Labels: component:map

Deployed 2f0f78fac to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/sitemap.xml.gz
Labels: none

fix: daedlink in README
  map/autoware_dynamic_lanelet_provider/README.md
Labels: type:documentation, component:map

Deployed e3119986e to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/map/autoware_dynamic_lanelet_provider/index.html
  pr-6241/sitemap.xml.gz
Labels: none

chore(build_depends_humble): update dependencies
  build_depends_humble.repos
Labels: none

fix: test code
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_loader/test/lanelet2_map_loader_launch.test.py
Labels: component:map

Deployed e4a35367b to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/sitemap.xml.gz
Labels: none

Deployed 29f314e82 to pr-6241 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-6241/sitemap.xml.gz
Labels: none

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*
