Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

chore: refactor
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
Labels: component:perception

add package maintainer
  control/autoware_mpc_lateral_controller/package.xml
Labels: component:control

feat(control_validator): add diag to check control component latency
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/package.xml
  control/autoware_control_validator/src/control_validator.cpp
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:control, component:launch

feat(planning_validator): add diag to check planning component latency
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
Labels: component:planning

fix(static_obstacle_avoidance): ego doesn't keep stopping in unsafe condition
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

chore(mpc_lateral_controller): add package maintainer (#10239)
  control/autoware_mpc_lateral_controller/package.xml
Labels: component:control

fix(tier4_system_launch): add missing exec_depend (#10132)
  launch/tier4_system_launch/package.xml
Labels: component:launch

fix(tier4_vehicle_launch): add missing exec_depend (#10133)
  launch/tier4_vehicle_launch/package.xml
Labels: component:launch

fix(planning): add missing exec_depend (#10134)
  planning/autoware_freespace_planner/launch/freespace_planner.launch.xml
  planning/autoware_obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/autoware_path_optimizer/package.xml
Labels: component:planning

fix: missing param
  control/autoware_control_validator/config/control_validator.param.yaml
Labels: component:control

fix(static_obstacle_avoidance): ego doesn't keep stopping in unsafe condition (#10242)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

return previous module output if LC module status is IDLE
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning

when computing target lanes, don't include preceding lanes of lane change lane
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

dont insert stop point on target lane if next lc dist buffer is zero
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

fix: add missing mutex for map_grid_size_x
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
Labels: component:perception

fix(common): fix package name of find-pkg-share (#10135)
  common/autoware_goal_distance_calculator/launch/goal_distance_calculator.launch.xml
Labels: component:common

feat(control_validator): add diag to check control component latency (#10240)
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/package.xml
  control/autoware_control_validator/src/control_validator.cpp
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:control, component:launch

fix: relax threshold
  planning/autoware_planning_validator/config/planning_validator.param.yaml
Labels: component:planning

fix: lacking param
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
Labels: component:planning

fix(stopline, traffic_light): fix planning factor distance value
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

po
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control

po
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control

po
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control

po
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control

po
  control/autoware_control_validator/README.md
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
Labels: type:documentation, component:control

fix: relax threshold
  planning/autoware_planning_validator/config/planning_validator.param.yaml
Labels: component:planning

fix: relax threshold
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/test/src/test_parameter.hpp
Labels: component:planning

fix(autoware_map_loader): exec name renamed in 24652f834f73b13b3e4465bfc9ab8335cbe6cdcf
  map/autoware_map_loader/launch/lanelet2_map_loader.launch.xml
Labels: component:map

fix(stopline, traffic_light): fix planning factor distance value (#10245)
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

add metric of stop_deviation
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/deviation_metrics.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/param/control_evaluator.defaults.yaml
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
Labels: component:evaluator

remove unused include.
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
Labels: component:evaluator

pre-commit
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/deviation_metrics.hpp
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator

add unit test and schema
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator

fix bug
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/config/control_evaluator.param.yaml
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator

update planning_evaluator schema
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
Labels: component:evaluator

fix: add time stamp
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
Labels: component:planning

feat(planning_validator): add diag to check planning component latency (#10241)
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
Labels: component:planning

chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: type:ci

chore: sync files
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .pre-commit-config.yaml
  mkdocs.yaml
Labels: type:ci

Update blockage_diag_node.schema.json
  sensing/autoware_pointcloud_preprocessor/schema/blockage_diag_node.schema.json
Labels: component:sensing
