Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

add absolute
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
Labels: component:planning

feat(autoware_object_recognition_utils): remove from universe (#10215)
  common/autoware_object_recognition_utils/CHANGELOG.rst
  common/autoware_object_recognition_utils/CMakeLists.txt
  common/autoware_object_recognition_utils/README.md
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/conversion.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/geometry.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/matching.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_classification.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_recognition_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/predicted_path_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/transform.hpp
  common/autoware_object_recognition_utils/package.xml
  common/autoware_object_recognition_utils/src/conversion.cpp
  common/autoware_object_recognition_utils/src/predicted_path_utils.cpp
  common/autoware_object_recognition_utils/test/src/test_conversion.cpp
  common/autoware_object_recognition_utils/test/src/test_geometry.cpp
  common/autoware_object_recognition_utils/test/src/test_matching.cpp
  common/autoware_object_recognition_utils/test/src/test_object_classification.cpp
  common/autoware_object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: type:documentation, component:common

Deployed b3caa5cea5 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/common/autoware_grid_map_utils/index.html
  main/common/autoware_object_recognition_utils/index.html
  main/common/autoware_path_distance_calculator/Readme/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Labels: none

Deployed b3caa5cea5 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/common/autoware_grid_map_utils/index.html
  latest/common/autoware_object_recognition_utils/index.html
  latest/common/autoware_path_distance_calculator/Readme/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Labels: none

refactor: add autoware_cuda_dependency_meta
  common/autoware_cuda_dependency_meta/CMakeLists.txt
  common/autoware_cuda_dependency_meta/README.md
  common/autoware_cuda_dependency_meta/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_tensorrt_common/package.xml
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_fine_detector/package.xml
  sensing/autoware_cuda_utils/package.xml
  sensing/livox/autoware_livox_tag_filter/package.xml
  system/autoware_diagnostic_graph_utils/package.xml
Labels: type:documentation, component:common, component:perception, component:sensing, component:system

Added autoware_cuda_dependency_meta dependency to autoware_bytetrack
  perception/autoware_bytetrack/package.xml
Labels: component:perception

added autoware_cuda_dependency_meta dependency to more packages
  perception/autoware_lidar_transfusion/package.xml
  perception/autoware_probabilistic_occupancy_grid_map/package.xml
  perception/autoware_shape_estimation/package.xml
  perception/autoware_tensorrt_yolox/package.xml
Labels: component:perception

remove no longer needed autoware_cuda_dependency_meta dependency
  sensing/livox/autoware_livox_tag_filter/package.xml
  system/autoware_diagnostic_graph_utils/package.xml
Labels: component:sensing, component:system

fix: change to lock_guard
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception

feat(autoware_pointcloud_preprocessor): add roi excluded downsample
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/docs/downsample-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/downsample_filter/roi_excluded_faster_voxel_grid_downsample_filter.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/downsample_filter/roi_excluded_voxel_grid_downsample_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/roi_excluded_voxel_grid_downsample_filter.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/roi_excluded_voxel_grid_downsample_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/roi_excluded_faster_voxel_grid_downsample_filter.cpp
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/roi_excluded_voxel_grid_downsample_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
Labels: type:documentation, component:sensing

fix(autoware_pointcloud_preprocessor): fix cpplint
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/downsample_filter/roi_excluded_voxel_grid_downsample_filter_node.hpp
Labels: component:sensing

chore(autoware_pointcloud_preprocessor): fix variable naming in distortion corrector (#10185)
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
Labels: component:sensing

refactor: add autoware_cuda_dependency_meta (#10073)
  common/autoware_cuda_dependency_meta/CMakeLists.txt
  common/autoware_cuda_dependency_meta/README.md
  common/autoware_cuda_dependency_meta/package.xml
  perception/autoware_bytetrack/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_lidar_transfusion/package.xml
  perception/autoware_probabilistic_occupancy_grid_map/package.xml
  perception/autoware_shape_estimation/package.xml
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_tensorrt_common/package.xml
  perception/autoware_tensorrt_yolox/package.xml
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_fine_detector/package.xml
  sensing/autoware_cuda_utils/package.xml
Labels: type:documentation, component:common, component:perception, component:sensing

Deployed 3b0f98eb94 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/common/autoware_cuda_dependency_meta/index.html
  main/common/autoware_fake_test_node/design/fake_test_node-design/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Labels: none

Deployed 3b0f98eb94 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/common/autoware_component_interface_utils/index.html
  latest/common/autoware_cuda_dependency_meta/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Labels: none

fix(autoware_mpc_lateral_controller): replace Eigen::VectorXd with Eigen::Vector3d for state representation
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control

chore: changed default crop box to no filtering at all
  sensing/autoware_cuda_pointcloud_preprocessor/config/cuda_pointcloud_preprocessor.param.yaml
Labels: component:sensing

feat: added missing restrict keyword
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/common_kernels.cu
Labels: component:sensing

chore: spells
  sensing/autoware_cuda_pointcloud_preprocessor/schema/cuda_pointcloud_preprocessor.schema.json
Labels: component:sensing

chore: removed default destructor
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
Labels: component:sensing

docs(autoware_mpc_lateral_controller): update comments for state representation and discretization considerations
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control

chore: ocd activated (spelling)
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/undistort_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/undistort_kernels.cu
Labels: component:sensing

final
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:planning

fix: CI error
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception

chore: fixed the schema
  sensing/autoware_cuda_pointcloud_preprocessor/schema/cuda_pointcloud_preprocessor.schema.json
Labels: component:sensing

chore: improved readibility
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: component:sensing

feat(autoware_planning_factor_interface): modify autoware_obstacle_stop_planner, autoware_planning_factor_interface, : v0.1
  planning/autoware_obstacle_stop_planner/package.xml
  planning/autoware_obstacle_stop_planner/src/debug_marker.cpp
Labels: component:planning

feat(autoware_planning_factor_interface): modify multiple plugins under motion_velocity_planner folder, autoware_planning_factor_interface, : v0.6
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/README.md
Labels: type:documentation, component:planning

feat(autoware_planning_factor_interface): modify autoware_surround_obstacle_checker, autoware_planning_factor_interface, : v0.2
  planning/autoware_surround_obstacle_checker/package.xml
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/debug_marker.hpp
Labels: component:planning

feat(autoware_planning_factor_interface): modify multiple plugins under behavior_velocity_planner folder, autoware_planning_factor_interface, : v0.5
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
Labels: component:planning

feat(autoware_planning_factor_interface): replace tier4 msg dependency with autoware internal msg, autoware_planning_factor_interface, initial commit: v0.0
  planning/autoware_obstacle_cruise_planner/package.xml
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_cruise_planner/src/planner_interface.cpp
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
Labels: component:planning

feat(autoware_planning_factor_interface): modify autoware_behavior_path_planner_common, autoware_planning_factor_interface, : v0.3
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning

feat(autoware_planning_factor_interface): modify autoware_motion_velocity_planner_common_universe & autoware_motion_velocity_obstacle_cruise_module, autoware_planning_factor_interface, : v0.4
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/package.xml
Labels: component:planning

feat(autoware_planning_factor_interface): modify multiple packages under system module, autoware_planning_factor_interface, : v0.7
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/planning.hpp
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/package.xml
Labels: component:system

feat(autoware_planning_factor_interface): modify tier4_planning_factor_rviz_plugin, autoware_planning_factor_interface, replace tier4_planning_msgs::planningfactor : v0.8
  visualization/tier4_planning_factor_rviz_plugin/package.xml
  visualization/tier4_planning_factor_rviz_plugin/plugins.xml
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.cpp
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.hpp
Labels: none

Deployed 92da62945c to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Labels: none

Deployed 92da62945c to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Labels: none

fix(start_planner): use waypoints as centerline if available
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

reduce scope of mutex
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception

refactor
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
Labels: component:perception
