Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

chore(autoware_pointcloud_preprocessor): fix variable naming in distortion corrector (#10185)
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
Labels: component:sensing

fix(static_obstacle_avoidance): ego doesn't keep stopping in unsafe condition (#10242)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

chore(perception): refactor perception launch (#10186)
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_camera_info_relay.launch.py
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_map_based_detector.launch.py
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_occlusion_predictor.launch.py
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  perception/autoware_crosswalk_traffic_light_estimator/launch/crosswalk_traffic_light_estimator.launch.xml
  perception/autoware_tensorrt_yolox/README.md
  perception/autoware_tensorrt_yolox/config/yolox_s_plus_opt.param.yaml
  perception/autoware_tensorrt_yolox/config/yolox_tiny.param.yaml
  perception/autoware_tensorrt_yolox/config/yolox_traffic_light_detector.param.yaml
  perception/autoware_tensorrt_yolox/launch/yolox_s_plus_opt.launch.xml
  perception/autoware_tensorrt_yolox/launch/yolox_tiny.launch.xml
  perception/autoware_tensorrt_yolox/launch/yolox_traffic_light_detector.launch.xml
  perception/autoware_tensorrt_yolox/schema/yolox_tiny.schema.json
  perception/autoware_tensorrt_yolox/schema/yolox_traffic_light_detector.schema.json
  perception/autoware_traffic_light_arbiter/CMakeLists.txt
  perception/autoware_traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
  perception/autoware_traffic_light_classifier/config/car_traffic_light_classifier.param.yaml
  perception/autoware_traffic_light_classifier/config/pedestrian_traffic_light_classifier.param.yaml
  perception/autoware_traffic_light_classifier/launch/car_traffic_light_classifier.launch.xml
  perception/autoware_traffic_light_classifier/launch/pedestrian_traffic_light_classifier.launch.xml
  perception/autoware_traffic_light_classifier/schema/car_traffic_light_classifier.schema.json
  perception/autoware_traffic_light_classifier/schema/pedestrian_traffic_light_classifier.schema.json
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
  perception/autoware_traffic_light_fine_detector/config/traffic_light_fine_detector.param.yaml
  perception/autoware_traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
  perception/autoware_traffic_light_fine_detector/schema/traffic_light_fine_detector.schema.json
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.cpp
  perception/autoware_traffic_light_visualization/config/traffic_light_roi_visualizer.param.yaml
  perception/autoware_traffic_light_visualization/launch/traffic_light_roi_visualizer.launch.xml
  perception/autoware_traffic_light_visualization/schema/traffic_light_roi_visualizer.schema.json
  perception/autoware_traffic_light_visualization/src/traffic_light_roi_visualizer/node.cpp
  perception/autoware_traffic_light_visualization/src/traffic_light_roi_visualizer/node.hpp
Labels: type:documentation, component:launch, component:perception

chore(dummy_infrastructure): add maintainers kosuke55, 1222-takeshi, asa-naki (#10228)
  system/autoware_dummy_infrastructure/package.xml
Labels: component:system

fix(obstacle_cruise_planner): ignore invalid stopping objects (#10227)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/config/obstacle_cruise.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/parameters.hpp
Labels: type:documentation, component:planning

fix(autoware_mpc_lateral_controller): replace Eigen::VectorXd with Eigen::Vector3d for state representation (#10235)
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control

feat(control_evaluator): add a new stop_deviation metric (#10246)
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/config/control_evaluator.param.yaml
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/param/control_evaluator.defaults.yaml
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
  evaluator/autoware_planning_evaluator/schema/autoware_planning_evaluator.schema.json
Labels: component:evaluator

feat(behavior_planning): add behavior_path_planner_type to launch path_generator (#10217)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

fix(segmentation_pointcloud_fusion): set valid pointcloud field for output pointcloud (#10196)
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: component:perception

fix(path_optimizer): remove unnecesary optional (#10181)
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
Labels: component:planning

fix(lane_departure_checker): fix trajectory resampling logic to keep given interval (#10221)
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_resample_trajectory.cpp
Labels: component:control

refactor: add autoware_cuda_dependency_meta (#10073)
  common/autoware_cuda_dependency_meta/CMakeLists.txt
  common/autoware_cuda_dependency_meta/README.md
  common/autoware_cuda_dependency_meta/package.xml
  perception/autoware_bytetrack/package.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_lidar_apollo_instance_segmentation/package.xml
  perception/autoware_lidar_centerpoint/package.xml
  perception/autoware_lidar_transfusion/package.xml
  perception/autoware_probabilistic_occupancy_grid_map/package.xml
  perception/autoware_shape_estimation/package.xml
  perception/autoware_tensorrt_classifier/package.xml
  perception/autoware_tensorrt_common/package.xml
  perception/autoware_tensorrt_yolox/package.xml
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_fine_detector/package.xml
  sensing/autoware_cuda_utils/package.xml
Labels: type:documentation, component:common, component:perception, component:sensing

fix(common): fix package name of find-pkg-share (#10135)
  common/autoware_goal_distance_calculator/launch/goal_distance_calculator.launch.xml
Labels: component:common

feat(control_validator): add diag to check control component latency (#10240)
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/package.xml
  control/autoware_control_validator/src/control_validator.cpp
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:control, component:launch

fix(stopline, traffic_light): fix planning factor distance value (#10245)
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

fix(out_of_lane): fix condition to keep using previous stop pose within some time buffer (#10140)
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
Labels: component:planning

fix(planning): add missing exec_depend (#10134)
  planning/autoware_freespace_planner/launch/freespace_planner.launch.xml
  planning/autoware_obstacle_stop_planner/launch/obstacle_stop_planner.launch.xml
  planning/autoware_path_optimizer/package.xml
Labels: component:planning

fix(compare_map_filter): deadlock bug fix (#10222)
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_based_approximate_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_distance_based_compare_map_filter/node.hpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.hpp
Labels: component:perception

fix(tier4_vehicle_launch): add missing exec_depend (#10133)
  launch/tier4_vehicle_launch/package.xml
Labels: component:launch

feat(planning_factor): support new cruise planner's factor (#10229)
  system/autoware_default_adapi/src/planning.cpp
Labels: component:system

feat(control_validator)!: add overrun check (#10236)
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control

feat(autoware_object_recognition_utils): remove from universe (#10215)
  common/autoware_object_recognition_utils/CHANGELOG.rst
  common/autoware_object_recognition_utils/CMakeLists.txt
  common/autoware_object_recognition_utils/README.md
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/conversion.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/geometry.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/matching.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_classification.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/object_recognition_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/predicted_path_utils.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/transform.hpp
  common/autoware_object_recognition_utils/package.xml
  common/autoware_object_recognition_utils/src/conversion.cpp
  common/autoware_object_recognition_utils/src/predicted_path_utils.cpp
  common/autoware_object_recognition_utils/test/src/test_conversion.cpp
  common/autoware_object_recognition_utils/test/src/test_geometry.cpp
  common/autoware_object_recognition_utils/test/src/test_matching.cpp
  common/autoware_object_recognition_utils/test/src/test_object_classification.cpp
  common/autoware_object_recognition_utils/test/src/test_predicted_path_utils.cpp
Labels: type:documentation, component:common

fix(dynamic_obstacle_stop): publish processing time when early return (#10254)
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.hpp
Labels: component:planning

fix(obstacle_stop): accounting for vehicle bumper length when handling point-cloud stop points (#10250)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
Labels: component:planning

feat(autoware_planning_factor_interface): remove from universe (#10243)
  planning/autoware_planning_factor_interface/CHANGELOG.rst
  planning/autoware_planning_factor_interface/CMakeLists.txt
  planning/autoware_planning_factor_interface/README.md
  planning/autoware_planning_factor_interface/include/autoware/planning_factor_interface/planning_factor_interface.hpp
  planning/autoware_planning_factor_interface/package.xml
  planning/autoware_planning_factor_interface/src/planing_factor_interface.cpp
Labels: type:documentation, component:planning

feat(planning_validator): add diag to check planning component latency (#10241)
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
Labels: component:planning

feat(dummy_infrastructure): auto approval when ego stops at stop line (#10223)
  system/autoware_dummy_infrastructure/config/dummy_infrastructure.param.yaml
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/launch/dummy_infrastructure.launch.xml
  system/autoware_dummy_infrastructure/package.xml
  system/autoware_dummy_infrastructure/schema/dummy_infrastructure.schema.json
  system/autoware_dummy_infrastructure/src/dummy_infrastructure_node/dummy_infrastructure_node.cpp
Labels: component:system

chore(mpc_lateral_controller): add package maintainer (#10239)
  control/autoware_mpc_lateral_controller/package.xml
Labels: component:control

fix(tier4_system_launch): add missing exec_depend (#10132)
  launch/tier4_system_launch/package.xml
Labels: component:launch

docs(diagnostic_graph_aggregator): update document (#10199)
  system/autoware_diagnostic_graph_aggregator/doc/format/graph.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/and.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/diag.md
  system/autoware_diagnostic_graph_aggregator/doc/format/unit/or.md
Labels: type:documentation, component:system

fix(tier4_planning_launch): remap topics for path_generator (#10249)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

fix(planning, control): reuse stamp of subscribed topic to measure component latency (#10201)
  control/autoware_trajectory_follower_node/src/controller_node.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
Labels: component:control, component:planning

feat(behavior_path_planner_common): modify drivable area expansion to be able to avoid static objects (#10220)
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_drivable_area_expansion.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_footprints.cpp
Labels: type:documentation, component:planning

fix(lane_change_module): fix planning factor issue (#10244)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: component:planning

docs(goal_planner): update README
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/bad_shift_path.png
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/bezier_path.png
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal-pose-correct.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_candidates.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-goal_distance.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-is_safe.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-longitudinal_margin.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-object_to_avoid.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-safety_check.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-state-transition.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-threads.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/pull_over_freespace_parking_flowchart.drawio.svg
Labels: type:documentation, component:planning

fix(autoware_mission_planner_universe): add explicit test dependency (#10261)
  planning/autoware_mission_planner_universe/CMakeLists.txt
Labels: component:planning

feat(planning_validator): add yaw deviation metric (#10258)
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_pubsub.cpp
Labels: type:documentation, component:planning

fix how to check as diag
  perception/autoware_tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/autoware_tracking_object_merger/include/autoware/tracking_object_merger/decorative_tracker_merger_node.hpp
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

change the way to check time
  perception/autoware_tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/autoware_tracking_object_merger/include/autoware/tracking_object_merger/decorative_tracker_merger_node.hpp
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception

pre-commit
  perception/autoware_tracking_object_merger/src/decorative_tracker_merger_node.cpp
Labels: component:perception
