Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

fix: updated README and schema for radar_threshold_filter as per review comments
  sensing/autoware_radar_threshold_filter/schema/radar_threshold_filter.schema.json
Labels: component:sensing

feat: check pointcloud within detection area
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/object_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
Labels: component:planning

feat: add option to use pointcloud
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: component:planning

Add schema files and update readme file for autoware_radar_object_tracker
  perception/autoware_radar_object_tracker/README.md
  perception/autoware_radar_object_tracker/schema/data_association_matrix.schema.json
  perception/autoware_radar_object_tracker/schema/default_tracker.schema.json
  perception/autoware_radar_object_tracker/schema/radar_object_tracker.schema.json
  perception/autoware_radar_object_tracker/schema/simulation_tracker.schema.json
Labels: type:documentation, component:perception

Updated README and applied necessary changes
  perception/autoware_radar_object_tracker/README.md
Labels: type:documentation, component:perception

fix: updated schema file
  perception/autoware_radar_object_tracker/schema/data_association_matrix.schema.json
  perception/autoware_radar_object_tracker/schema/default_tracker.schema.json
Labels: component:perception

fix: updated readme file
  perception/autoware_radar_object_tracker/README.md
Labels: type:documentation, component:perception

fix: stop_line
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
Labels: component:planning

fix: no_drivable_lane
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
Labels: component:planning

fix: blind_spot
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
Labels: component:planning

fix: crosswalk
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning

fix: traffic_light
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

fix: walk_way
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
Labels: component:planning

fix: intersection
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
Labels: component:planning

fix: detection_area
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
Labels: component:planning

fix: virtual_traffic_light
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
Labels: component:planning

fix: run_out
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
Labels: component:planning

fix: no_stopping_area
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
Labels: component:planning

feat(traffic_light_classifier): update diagnostics when harsh backlight is detected (#10218)
  perception/autoware_traffic_light_classifier/package.xml
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.hpp
Labels: component:perception

fix(obstacle stop/slow_down): early return without point cloud (#10289)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:planning

fix(obstacle_stop): use max_lat_margin_against_unknown only for predicted object (#10269)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:planning

fix(autoware_multi_object_tracker): unknown object orientation (#10286)
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
Labels: component:perception

feat: add diagnostic handler to warn when the processing time exceed a threshold
  perception/autoware_map_based_prediction/config/map_based_prediction.param.yaml
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

feat: always measure processing time with stopwatch
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

chore: added new repositories to ansible
  build_depends_humble.repos
Labels: none

feat: apply splitting of autoware_utils_geometry (#10270)
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/geometry_utils.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/trajectory_utils.hpp
  planning/autoware_path_optimizer/src/utils/geometry_utils.cpp
  planning/autoware_path_optimizer/src/utils/trajectory_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning

chore: CI/CD
  sensing/autoware_cuda_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/types.hpp
Labels: component:sensing

chore: more CI/CD
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/point_types.hpp
Labels: component:sensing

feat: update to publish processing time to diagnostics
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

fix(behavior_velocity_planner): planning factor integration (#10292)
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
Labels: component:planning

chore: mode CI/CD. some linters are conflicting
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: component:sensing

Deployed ea448a927 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/control/autoware_obstacle_collision_checker/index.html
  main/control/autoware_shift_decider/index.html
  main/control/autoware_trajectory_follower_node/index.html
  main/localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/index.html
  main/planning/autoware_external_velocity_limit_selector/index.html
  main/planning/autoware_obstacle_cruise_planner/index.html
  main/planning/autoware_obstacle_stop_planner/index.html
  main/planning/autoware_path_optimizer/index.html
  main/planning/autoware_path_smoother/docs/eb/index.html
  main/planning/autoware_surround_obstacle_checker/index.html
  main/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  main/search/search_index.json
  main/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
  main/system/autoware_mrm_comfortable_stop_operator/index.html
  main/visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/index.html
  main/visualization/tier4_planning_rviz_plugin/index.html
  main/visualization/tier4_state_rviz_plugin/index.html
Labels: none

Deployed ea448a927 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/control/autoware_obstacle_collision_checker/index.html
  latest/control/autoware_shift_decider/index.html
  latest/control/autoware_trajectory_follower_node/index.html
  latest/localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/index.html
  latest/perception/autoware_crosswalk_traffic_light_estimator/index.html
  latest/planning/autoware_costmap_generator/index.html
  latest/planning/autoware_external_velocity_limit_selector/index.html
  latest/planning/autoware_freespace_planner/index.html
  latest/planning/autoware_mission_planner_universe/index.html
  latest/planning/autoware_obstacle_cruise_planner/index.html
  latest/planning/autoware_obstacle_stop_planner/index.html
  latest/planning/autoware_path_optimizer/docs/mpt/index.html
  latest/planning/autoware_path_optimizer/index.html
  latest/planning/autoware_path_smoother/docs/eb/index.html
  latest/planning/autoware_scenario_selector/index.html
  latest/planning/autoware_surround_obstacle_checker/index.html
  latest/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  latest/search/search_index.json
  latest/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
  latest/system/autoware_mrm_comfortable_stop_operator/index.html
  latest/visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/index.html
  latest/visualization/tier4_planning_rviz_plugin/index.html
  latest/visualization/tier4_state_rviz_plugin/index.html
Labels: none

refactor(multi_object_tracker): remove BicycleTracker and update references to use VehicleTracker
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
Labels: component:perception

refactor(input_channels): disable trust flags for extension and orientation in radar configurations
  perception/autoware_multi_object_tracker/config/input_channels.param.yaml
Labels: component:perception

refactor(multi_object_tracker): update measure function signatures to include InputChannel parameter
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
Labels: component:perception

refactor(multi_object_tracker): update measureWithPose method to include InputChannel parameter and adjust related logic
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
Labels: component:perception

refactor(multi_object_tracker): remove BicycleTracker and replace with VehicleTracker in relevant classes
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/tracker.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception

refactor(bicycle_tracker): add tracking_offset to adjust object position based on motion model
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
Labels: component:perception

Revert "refactor(multi_object_tracker): simplify input channel configuration by removing trust flags and consolidating parameters"
  perception/autoware_multi_object_tracker/config/input_channels.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception
