Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

feat: add build-and-test-packages-above-differential.yaml and packages_above.repos
  .github/workflows/build-and-test-packages-above-differential.yaml
  packages_above.repos
Labels: type:ci

fix for comment1
  .github/workflows/build-and-test-packages-above-differential.yaml
Labels: type:ci

fix for comment2
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci

Fix the covariance calculation
  localization/autoware_ndt_scan_matcher/src/ndt_omp/multi_voxel_grid_covariance_omp_impl.hpp
Labels: component:localization

fix
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci

fail
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
Labels: component:planning

use WIP actions
  .github/workflows/build-and-test-packages-above-differential.yaml
Labels: type:ci

pass
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
Labels: component:planning

fix(dynamic_obstacle_stop): publish processing time when early return
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.hpp
Labels: component:planning

fix(autoware_mpc_lateral_controller): replace Eigen::VectorXd with Eigen::Vector3d for state representation (#10235)
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control

po
  control/autoware_control_validator/src/control_validator.cpp
Labels: component:control

feat: add diagnostic handler to warn when the processing time exceed a threshold
  perception/autoware_map_based_prediction/config/map_based_prediction.param.yaml
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

chore(perception): refactor perception launch (#10186)
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_camera_info_relay.launch.py
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_map_based_detector.launch.py
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_occlusion_predictor.launch.py
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  perception/autoware_crosswalk_traffic_light_estimator/launch/crosswalk_traffic_light_estimator.launch.xml
  perception/autoware_tensorrt_yolox/README.md
  perception/autoware_tensorrt_yolox/config/yolox_s_plus_opt.param.yaml
  perception/autoware_tensorrt_yolox/config/yolox_tiny.param.yaml
  perception/autoware_tensorrt_yolox/config/yolox_traffic_light_detector.param.yaml
  perception/autoware_tensorrt_yolox/launch/yolox_s_plus_opt.launch.xml
  perception/autoware_tensorrt_yolox/launch/yolox_tiny.launch.xml
  perception/autoware_tensorrt_yolox/launch/yolox_traffic_light_detector.launch.xml
  perception/autoware_tensorrt_yolox/schema/yolox_tiny.schema.json
  perception/autoware_tensorrt_yolox/schema/yolox_traffic_light_detector.schema.json
  perception/autoware_traffic_light_arbiter/CMakeLists.txt
  perception/autoware_traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
  perception/autoware_traffic_light_classifier/config/car_traffic_light_classifier.param.yaml
  perception/autoware_traffic_light_classifier/config/pedestrian_traffic_light_classifier.param.yaml
  perception/autoware_traffic_light_classifier/launch/car_traffic_light_classifier.launch.xml
  perception/autoware_traffic_light_classifier/launch/pedestrian_traffic_light_classifier.launch.xml
  perception/autoware_traffic_light_classifier/schema/car_traffic_light_classifier.schema.json
  perception/autoware_traffic_light_classifier/schema/pedestrian_traffic_light_classifier.schema.json
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
  perception/autoware_traffic_light_fine_detector/config/traffic_light_fine_detector.param.yaml
  perception/autoware_traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
  perception/autoware_traffic_light_fine_detector/schema/traffic_light_fine_detector.schema.json
  perception/autoware_traffic_light_fine_detector/src/traffic_light_fine_detector_node.cpp
  perception/autoware_traffic_light_visualization/config/traffic_light_roi_visualizer.param.yaml
  perception/autoware_traffic_light_visualization/launch/traffic_light_roi_visualizer.launch.xml
  perception/autoware_traffic_light_visualization/schema/traffic_light_roi_visualizer.schema.json
  perception/autoware_traffic_light_visualization/src/traffic_light_roi_visualizer/node.cpp
  perception/autoware_traffic_light_visualization/src/traffic_light_roi_visualizer/node.hpp
Labels: type:documentation, component:launch, component:perception

Deployed 1b379706c to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/evaluator/autoware_planning_evaluator/index.html
  main/perception/autoware_tensorrt_yolox/index.html
  main/perception/autoware_traffic_light_classifier/index.html
  main/perception/autoware_traffic_light_fine_detector/index.html
  main/perception/autoware_traffic_light_visualization/index.html
  main/search/search_index.json
  main/sitemap.xml
  main/sitemap.xml.gz
Labels: none

fix(dynamic_obstacle_stop): publish processing time when early return (#10254)
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.hpp
Labels: component:planning

Deployed 1b379706c to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/evaluator/autoware_planning_evaluator/index.html
  latest/perception/autoware_tensorrt_yolox/index.html
  latest/perception/autoware_traffic_light_classifier/index.html
  latest/perception/autoware_traffic_light_fine_detector/index.html
  latest/perception/autoware_traffic_light_visualization/index.html
  latest/planning/autoware_freespace_planner/index.html
  latest/planning/autoware_mission_planner_universe/index.html
  latest/planning/autoware_obstacle_cruise_planner/index.html
  latest/planning/autoware_obstacle_stop_planner/index.html
  latest/planning/autoware_path_optimizer/docs/mpt/index.html
  latest/planning/autoware_path_optimizer/index.html
  latest/planning/autoware_path_smoother/docs/eb/index.html
  latest/planning/autoware_scenario_selector/index.html
  latest/planning/autoware_surround_obstacle_checker/index.html
  latest/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  latest/search/search_index.json
  latest/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Labels: none

feat(control_validator)!: add overrun check (#10236)
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control

Deployed fb4352102 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/control/autoware_control_validator/index.html
  main/search/search_index.json
  main/sitemap.xml.gz
Labels: none

Deployed fb4352102 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/control/autoware_control_validator/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
Labels: none

feat: add diagnostics handler to warn when output pointcloud is empty
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
Labels: component:sensing

feat(planning_validator): add yaw deviation metric
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
Labels: component:planning

update README
  planning/autoware_planning_validator/README.md
Labels: type:documentation, component:planning

feat: use mrm in all operation mode
  system/autoware_mrm_handler/include/autoware/mrm_handler/mrm_handler_core.hpp
  system/autoware_mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

return previous module output if LC module status is IDLE
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning

when computing target lanes, don't include preceding lanes of lane change lane
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

dont insert stop point on target lane if next lc dist buffer is zero
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

disable faulty test
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: component:planning

feat(behavior_path_planner_common): modify drivable area expansion to be able to avoid static objects (#10220)
  planning/behavior_path_planner/autoware_behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design.md
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_drivable_area_expansion.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_footprints.cpp
Labels: type:documentation, component:planning

Deployed 97c119582 to main with MkDocs 1.4.3 and mike 2.2.0.dev0
  main/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design/index.html
  main/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  main/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  main/search/search_index.json
  main/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  main/sitemap.xml
  main/sitemap.xml.gz
Labels: none

Deployed 97c119582 to latest with MkDocs 1.4.3 and mike 2.2.0.dev0
  latest/control/autoware_obstacle_collision_checker/index.html
  latest/localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/index.html
  latest/perception/autoware_crosswalk_traffic_light_estimator/index.html
  latest/planning/autoware_freespace_planner/index.html
  latest/planning/autoware_mission_planner_universe/index.html
  latest/planning/autoware_scenario_selector/index.html
  latest/planning/autoware_surround_obstacle_checker/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_planner_common/docs/behavior_path_planner_drivable_area_design/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  latest/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  latest/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  latest/search/search_index.json
  latest/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  latest/sitemap.xml
  latest/sitemap.xml.gz
Labels: none

fix procedure to check if point is on edge
  common/autoware_universe_utils/src/geometry/alt_geometry.cpp
Labels: component:common

add test cases
  common/autoware_universe_utils/test/src/geometry/test_alt_geometry.cpp
Labels: component:common

chore(sync-files.yaml): not synchronize `github-release.yaml` (#1776)
  .github/sync-files.yaml
Labels: type:ci

tmp save.
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_counter.hpp
Labels: component:evaluator

tmp save.
  evaluator/autoware_planning_evaluator/config/planning_evaluator.param.yaml
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics/metric.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/metrics_counter.hpp
  evaluator/autoware_planning_evaluator/include/autoware/planning_evaluator/planning_evaluator_node.hpp
  evaluator/autoware_planning_evaluator/package.xml
  evaluator/autoware_planning_evaluator/src/metrics_counter.cpp
Labels: component:evaluator

add unit test for new metric
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_pubsub.cpp
Labels: component:planning

fix(lane_change_module): fix planning factor issue (#10244)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: component:planning

restored node name
  map/autoware_map_loader/launch/lanelet2_map_loader.launch.xml
Labels: component:map

fix(autoware_mission_planner_universe): add explicit test dependency
  planning/autoware_mission_planner_universe/CMakeLists.txt
Labels: component:planning

feat(autoware_image_based_projection_fusion): redesign image based projection fusion node (#10016)
  perception/autoware_image_projection_based_fusion/CMakeLists.txt
  perception/autoware_image_projection_based_fusion/README.md
  perception/autoware_image_projection_based_fusion/config/fusion_common.param.yaml
  perception/autoware_image_projection_based_fusion/docs/images/fusion_algorithm.drawio.svg
  perception/autoware_image_projection_based_fusion/docs/images/lidar_camera_sync.svg
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_collector.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_matching_strategy.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_types.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/utils.hpp
  perception/autoware_image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/package.xml
  perception/autoware_image_projection_based_fusion/schema/fusion_common.schema.json
  perception/autoware_image_projection_based_fusion/src/fusion_collector.cpp
  perception/autoware_image_projection_based_fusion/src/fusion_matching_strategy.cpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_matching_strategy.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
Labels: type:documentation, component:perception, component:sensing
