Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*

fix: CMakeLists library name
  visualization/tier4_localization_rviz_plugin/CMakeLists.txt
Labels: none

feat: add build-and-test-packages-above-differential.yaml and packages_above.repos (#9854)
  .github/workflows/build-and-test-packages-above-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
  packages_above.repos
Labels: type:ci

feat: adaptation to ROS nodes guidelines about directory structure
  planning/autoware_freespace_planner/test/test_freespace_planner_node_interface.cpp
  planning/autoware_obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
  planning/autoware_obstacle_stop_planner/test/test_autoware_obstacle_stop_planner_node_interface.cpp
  planning/autoware_path_optimizer/test/test_path_optimizer_node_interface.cpp
  planning/autoware_path_smoother/test/test_autoware_path_smoother_node_interface.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/autoware_scenario_selector/test/test_autoware_scenario_selector_node_interface.cpp
  planning/autoware_surround_obstacle_checker/test/test_surround_obstacle_checker.cpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/test_utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/src/start_planner_test_helper.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_freespace_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/test_utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/test_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/test/src/test_node_interface.cpp
Labels: component:planning

feat: adaption to ROS nodes guidelines about directory structure (#10268)
  planning/autoware_freespace_planner/test/test_freespace_planner_node_interface.cpp
  planning/autoware_obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
  planning/autoware_obstacle_stop_planner/test/test_autoware_obstacle_stop_planner_node_interface.cpp
  planning/autoware_path_optimizer/test/test_path_optimizer_node_interface.cpp
  planning/autoware_path_smoother/test/test_autoware_path_smoother_node_interface.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/autoware_scenario_selector/test/test_autoware_scenario_selector_node_interface.cpp
  planning/autoware_surround_obstacle_checker/test/test_surround_obstacle_checker.cpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/test_utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/src/start_planner_test_helper.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_freespace_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_geometric_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_shift_pull_out.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/test_utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/test_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/test/src/test_node_interface.cpp
Labels: component:planning

fix collision time calculation
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
Labels: component:planning

fix(segmentation_pointcloud_fusion): typo for defaut camera info topic
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
Labels: component:perception

fix(autoware_map_loader): exec name renamed in 24652f8 (#10247)
  map/autoware_map_loader/launch/lanelet2_map_loader.launch.xml
Labels: component:map

fix(out_of_lane): fix object path time collision calculation (#10267)
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
Labels: component:planning

fix(obstacle_cruise_planner): fix obstacle filtering logic (#10232)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
Labels: component:planning

fix(autoware_crosswalk_traffic_light_estimator) : add process that guard access to empty elements.
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception

fix(segmentation_pointcloud_fusion): fix typo of defaut camera info topic (#10272)
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
Labels: component:perception

feat!: replace VelocityLimit messages with autoware_internal_planning_msgs
  planning/autoware_external_velocity_limit_selector/README.md
  planning/autoware_external_velocity_limit_selector/include/autoware/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/autoware_obstacle_cruise_planner/README.md
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_stop_planner/src/node.hpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.hpp
  planning/autoware_surround_obstacle_checker/README.md
  planning/autoware_surround_obstacle_checker/src/node.hpp
  planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja.md
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/pid_based_planner/pid_based_planner.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/velocity_planning_result.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.hpp
  system/autoware_mrm_comfortable_stop_operator/README.md
  system/autoware_mrm_comfortable_stop_operator/include/autoware/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.hpp
  system/autoware_mrm_comfortable_stop_operator/src/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/README.md
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/signal_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/speed_limit_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/speed_limit_display.cpp
  visualization/tier4_planning_rviz_plugin/README.md
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.cpp
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.hpp
  visualization/tier4_state_rviz_plugin/README.md
  visualization/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  visualization/tier4_state_rviz_plugin/src/include/autoware_state_panel.hpp
Labels: type:documentation, component:planning, component:system

feat: update package.xml
  planning/autoware_external_velocity_limit_selector/package.xml
  planning/autoware_external_velocity_limit_selector/test/test_external_velocity_limit_selector_node_launch.py
  planning/autoware_remaining_distance_time_calculator/package.xml
  planning/autoware_velocity_smoother/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
  system/autoware_mrm_comfortable_stop_operator/package.xml
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/CMakeLists.txt
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/package.xml
  visualization/tier4_planning_rviz_plugin/package.xml
  visualization/tier4_state_rviz_plugin/package.xml
Labels: component:planning, component:system

fix include header
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
Labels: component:planning

fix(goal_planner): ignore use bus_stop_area flag if there are no BusStopArea on the pull over lanes
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning

fix(goal_planner): ignore use bus_stop_area flag if there are no BusStopArea on the pull over lanes (#10274)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning

chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: type:ci

chore: sync files
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .pre-commit-config.yaml
  mkdocs.yaml
Labels: type:ci

refactor(multi_object_tracker): internal message driven process (#10203)
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/association/association.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/shapes.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/object_model/types.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/object_model/types.cpp
  perception/autoware_multi_object_tracker/lib/odometry.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/ctrv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/cv_motion_model.cpp
  perception/autoware_multi_object_tracker/lib/uncertainty/uncertainty_processor.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.cpp
  perception/autoware_multi_object_tracker/src/debugger/debug_object.hpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.cpp
  perception/autoware_multi_object_tracker/src/debugger/debugger.hpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.hpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception

refactor(bicycle_motion_model): implement exponential decay for slip angle in state prediction
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
Labels: component:perception

remove temporary code
  perception/autoware_euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
Labels: component:perception

feat(euclidean_cluster): add diagnostics warning when cluster skipped due to excessive points from large objects
  perception/autoware_euclidean_cluster/include/autoware/euclidean_cluster/voxel_grid_based_euclidean_cluster.hpp
  perception/autoware_euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.hpp
Labels: component:perception

fix include header
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
Labels: component:planning

feat!: replace VelocityLimit messages with autoware_internal_planning_msgs
  planning/autoware_external_velocity_limit_selector/README.md
  planning/autoware_external_velocity_limit_selector/include/autoware/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/autoware_obstacle_cruise_planner/README.md
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_stop_planner/src/node.hpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.cpp
  planning/autoware_remaining_distance_time_calculator/src/remaining_distance_time_calculator_node.hpp
  planning/autoware_surround_obstacle_checker/README.md
  planning/autoware_surround_obstacle_checker/src/node.hpp
  planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja.md
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/data_manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/include/autoware/behavior_velocity_planner/node.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/pid_based_planner/pid_based_planner.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/velocity_planning_result.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/src/node.hpp
  system/autoware_mrm_comfortable_stop_operator/README.md
  system/autoware_mrm_comfortable_stop_operator/include/autoware/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.hpp
  system/autoware_mrm_comfortable_stop_operator/src/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator_core.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/README.md
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/signal_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/speed_limit_display.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/speed_limit_display.cpp
  visualization/tier4_planning_rviz_plugin/README.md
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.cpp
  visualization/tier4_planning_rviz_plugin/src/tools/max_velocity.hpp
  visualization/tier4_state_rviz_plugin/README.md
  visualization/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  visualization/tier4_state_rviz_plugin/src/include/autoware_state_panel.hpp
Labels: type:documentation, component:planning, component:system

feat: update package.xml
  planning/autoware_external_velocity_limit_selector/package.xml
  planning/autoware_external_velocity_limit_selector/test/test_external_velocity_limit_selector_node_launch.py
  planning/autoware_remaining_distance_time_calculator/package.xml
  planning/autoware_velocity_smoother/package.xml
  planning/behavior_path_planner/autoware_behavior_path_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
  system/autoware_mrm_comfortable_stop_operator/package.xml
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/CMakeLists.txt
  visualization/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/package.xml
  visualization/tier4_planning_rviz_plugin/package.xml
  visualization/tier4_state_rviz_plugin/package.xml
Labels: component:planning, component:system

feat(probabilistic_occupancy_grid_map): add diagnostics warning when latency is too long
  perception/autoware_probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
Labels: component:perception

chore: added dummy crop box
  sensing/autoware_cuda_pointcloud_preprocessor/config/cuda_pointcloud_preprocessor.param.yaml
Labels: component:sensing

use step-security
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci

fix(docker-build-test-tidy-pr.yaml): use `step-security/changed-files` action instead (#10279)
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci

feat(probabilistic_occupancy_grid_map): add default max_output_delay_ms_
  perception/autoware_probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
Labels: component:perception

feat(object_merger): add diagnostics warning for timeout when merge messages are incomplete
  perception/autoware_object_merger/include/autoware/object_merger/object_association_merger_node.hpp
  perception/autoware_object_merger/src/object_association_merger_node.cpp
Labels: component:perception

fix for linter
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception

feat(object_merger): add parameters loading
  perception/autoware_object_merger/config/object_association_merger.param.yaml
  perception/autoware_object_merger/src/object_association_merger_node.cpp
Labels: component:perception

feat(multi_object_tracker): add diagnostics warning when extrapolation time exceeds limit with latency guarantee enabled
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
Labels: component:perception

add diagnostics for processing time
  perception/autoware_lidar_centerpoint/config/centerpoint_diagnostics.param.yaml
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/node.hpp
  perception/autoware_lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: component:perception

fix(object_model): correct bounding box calculation by initializing limits and including min_z
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
Labels: component:perception

fix(unknown_tracker): update object pose orientation and streamline uncertainty modeling in input manager
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/src/processor/input_manager.cpp
Labels: component:perception

fix: add select option for transform lookup time
  launch/tier4_perception_launch/launch/object_recognition/detection/filter/pointcloud_map_filter.launch.py
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
Labels: component:launch, component:sensing

fix(obstacle stop/slow_down): early return without point cloud
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
Labels: component:planning

update maintainer
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
Labels: component:planning
