Repository autowarefoundation/autoware.universe, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:common, component:control, component:evaluator, component:launch, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:tools, component:vehicle

refactor(multi_object_tracker): add updateStatePoseVel method to BicycleMotionModel and update measurement logic in VehicleTracker
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
Labels: component:perception

refactor(bicycle_motion_model): implement exponential decay for slip angle in state prediction
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/bicycle_motion_model.cpp
Labels: component:perception

chore: ignoring uncrustify
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: component:sensing

chore: ignoring more uncrustify
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: component:sensing

chore: missed one more uncrustify exception
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: component:sensing

feat(goal_planner): expand outer collision check margin
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: type:documentation, component:planning

chore: added meta dep
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
Labels: component:sensing

feat(autoware_cuda_pointcloud_preprocessor): a cuda-accelerated pointcloud preprocessor (#9454)
  build_depends_humble.repos
  sensing/autoware_cuda_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_cuda_pointcloud_preprocessor/README.md
  sensing/autoware_cuda_pointcloud_preprocessor/config/cuda_pointcloud_preprocessor.param.yaml
  sensing/autoware_cuda_pointcloud_preprocessor/docs/cuda-pointcloud-preprocessor.md
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/common_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/memory.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/organize_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/outlier_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/point_types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/undistort_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/launch/cuda_pointcloud_preprocessor.launch.xml
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
  sensing/autoware_cuda_pointcloud_preprocessor/schema/cuda_pointcloud_preprocessor.schema.json
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/common_kernels.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/organize_kernels.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/outlier_kernels.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/undistort_kernels.cu
Labels: type:documentation, component:sensing

feat: refactored the concat into a templated design to allow cuda implementations and extend it to radars
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.ipp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_matching_strategy.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_matching_strategy.ipp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.ipp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/traits.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/utility/memory.hpp
  sensing/autoware_pointcloud_preprocessor/package.xml
  sensing/autoware_pointcloud_preprocessor/schema/concatenate_and_time_sync_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/utility/memory.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_unit.cpp
Labels: component:sensing

chore(autoware_cuda_pointcloud_preprocessor): add maintainer
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
Labels: component:sensing

fix: moved the concat cpp for consistency and component loading
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
Labels: component:sensing

chore(autoware_cuda_pointcloud_preprocessor): add maintainer (#10297)
  sensing/autoware_cuda_pointcloud_preprocessor/package.xml
Labels: component:sensing

chore: removed unused dep
  sensing/autoware_pointcloud_preprocessor/package.xml
Labels: component:sensing

feat: cuda accelerated version of the pointcloud concatenation
  sensing/autoware_cuda_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_cuda_pointcloud_preprocessor/README.md
  sensing/autoware_cuda_pointcloud_preprocessor/config/cuda_concatenate_and_time_sync_node.param.yaml
  sensing/autoware_cuda_pointcloud_preprocessor/docs/cuda-concatenate-data.md
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_cloud_collector.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_combine_cloud_handler.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_combine_cloud_handler_kernel.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_concatenate_and_time_sync_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_concatenate_data/cuda_traits.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/launch/cuda_concatenate_and_time_sync_node.launch.xml
  sensing/autoware_cuda_pointcloud_preprocessor/schema/concatenate_and_time_sync_node.schema.json
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_cloud_collector.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_collector_matching_strategy.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_combine_cloud_handler.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_combine_cloud_handler_kernel.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_concatenate_data/cuda_concatenate_and_time_sync_node.cpp
Labels: type:documentation, component:sensing

fix(voxel_based_compare_map): temporary fix pointcloud transform lookup_time
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
Labels: component:perception, component:sensing

MRM when MPT fails
  control/autoware_mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  planning/autoware_obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/conditional_timer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/optimization_based_planner/velocity_optimizer.cpp
  system/autoware_system_diagnostic_monitor/config/planning.yaml
Labels: component:control, component:planning, component:system

pre-commit
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
Labels: component:perception

fix: fixed compile errors in the ml models
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/pointpainting_trt.hpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/pointpainting_trt.cpp
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: component:perception

feat(multi_object_tracker): add warning_publish_interval_ratio
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.hpp
Labels: component:perception

Added schema updates as per comments for pointcloud preprocessor
  sensing/autoware_pointcloud_preprocessor/schema/blockage_diag_node.schema.json
  sensing/autoware_pointcloud_preprocessor/schema/passthrough_filter_uint16_node.schema.json
  sensing/autoware_pointcloud_preprocessor/schema/pickup_based_voxel_grid_downsample_filter_node.schema.json
Labels: component:sensing

Deployed 0323733dd to pr-10193 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10193/control/autoware_obstacle_collision_checker/index.html
  pr-10193/control/autoware_shift_decider/index.html
  pr-10193/control/autoware_trajectory_follower_node/index.html
  pr-10193/localization/autoware_landmark_based_localizer/autoware_lidar_marker_localizer/index.html
  pr-10193/planning/autoware_obstacle_cruise_planner/index.html
  pr-10193/planning/autoware_obstacle_stop_planner/index.html
  pr-10193/planning/autoware_path_optimizer/index.html
  pr-10193/planning/autoware_path_smoother/docs/eb/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-10193/search/search_index.json
  pr-10193/sensing/autoware_pointcloud_preprocessor/docs/blockage-diag/index.html
  pr-10193/sensing/autoware_pointcloud_preprocessor/docs/downsample-filter/index.html
  pr-10193/sensing/autoware_pointcloud_preprocessor/docs/passthrough-filter/index.html
  pr-10193/sitemap.xml
  pr-10193/sitemap.xml.gz
Labels: none

Deployed fa9e7e8b7 to pr-10193 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-10193/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  pr-10193/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-10193/sitemap.xml.gz
Labels: none

feat(path_optimizer): additional failure logging and failure mode handling (#10276)
  control/autoware_mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  planning/autoware_obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/conditional_timer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/optimization_based_planner/velocity_optimizer.cpp
  system/autoware_system_diagnostic_monitor/config/planning.yaml
Labels: component:control, component:planning, component:system

feat(euclidean_cluster): diagnostics modified to remove redundant info
  perception/autoware_euclidean_cluster/include/autoware/euclidean_cluster/voxel_grid_based_euclidean_cluster.hpp
  perception/autoware_euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
Labels: component:perception

refactor(input_channels): restructure flags for input channel properties
  perception/autoware_multi_object_tracker/schema/input_channels.schema.json
Labels: component:perception

refactor(input_channels): remove 'flags' from required properties in schema
  perception/autoware_multi_object_tracker/schema/input_channels.schema.json
Labels: component:perception

fix: fixed standalone non-composed launcher
  perception/autoware_lidar_centerpoint/launch/lidar_centerpoint.launch.xml
Labels: component:perception

chore: ci/cd
  perception/autoware_lidar_centerpoint/lib/postprocess/circle_nms_kernel.cu
  perception/autoware_lidar_centerpoint/lib/postprocess/postprocess_kernel.cu
  perception/autoware_lidar_centerpoint/lib/preprocess/pointcloud_densification.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/voxel_generator.cpp
  perception/autoware_lidar_centerpoint/lib/ros_utils.cpp
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: component:perception

docs: fix links to autoware_universe documentation
  README.md
  mkdocs.yaml
  planning/autoware_path_optimizer/README.md
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/README.md
Labels: type:ci, type:documentation, component:planning

fix
  planning/autoware_path_optimizer/src/node.cpp
Labels: component:planning

chore: clang tidy related fix
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/pointpainting_fusion/pointpainting_trt.hpp
Labels: component:perception

feat: keep package name with suffix
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
Labels: component:planning

fix: missing virtual destructor
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
Labels: component:sensing

fix(autoware_path_optimizer): hotfix for wrong logic triggering MRM on start in 3 seconds (#10305)
  planning/autoware_path_optimizer/src/node.cpp
Labels: component:planning

rename Autoware Universe
  common/README.md
  common/autoware_cuda_dependency_meta/README.md
  planning/README.md
  planning/autoware_mission_planner_universe/README.md
  simulator/autoware_carla_interface/README.md
Labels: type:documentation, component:common, component:planning, component:simulation

rename autoware_core
  build_depends_humble.repos
  build_depends_nightly.repos
  localization/autoware_pose_covariance_modifier/README.md
Labels: type:documentation, component:localization

Deployed 9b90ef293 to pr-10306 with MkDocs 1.4.3 and mike 2.2.0.dev0
  pr-10306/common/autoware_cuda_dependency_meta/index.html
  pr-10306/common/index.html
  pr-10306/localization/autoware_pose_covariance_modifier/index.html
  pr-10306/planning/autoware_mission_planner_universe/index.html
  pr-10306/planning/autoware_surround_obstacle_checker/surround_obstacle_checker-design.ja/index.html
  pr-10306/planning/behavior_path_planner/autoware_behavior_path_lane_change_module/index.html
  pr-10306/planning/behavior_path_planner/autoware_behavior_path_planner/docs/behavior_path_planner_manager_design/index.html
  pr-10306/planning/behavior_path_planner/autoware_behavior_path_side_shift_module/index.html
  pr-10306/planning/behavior_path_planner/autoware_behavior_path_start_planner_module/index.html
  pr-10306/planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/index.html
  pr-10306/planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/index.html
  pr-10306/planning/index.html
  pr-10306/search/search_index.json
  pr-10306/sensing/autoware_pointcloud_preprocessor/docs/ring-outlier-filter/index.html
  pr-10306/simulator/autoware_carla_interface/index.html
  pr-10306/sitemap.xml.gz
Labels: none

chore(sync-files.yaml): not synchronize `github-release.yaml` (#1776)
  .github/sync-files.yaml
Labels: type:ci

fix
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

wip
  perception/autoware_lidar_centerpoint/config/centerpoint_diagnostics.param.yaml
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/node.hpp
  perception/autoware_lidar_centerpoint/src/node.cpp
Labels: component:perception

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - docs/**/*
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:common":
  - common/**/*
"component:control":
  - control/**/*
"component:evaluator":
  - evaluator/**/*
"component:launch":
  - launch/**/*
"component:localization":
  - localization/**/*
"component:map":
  - map/**/*
"component:perception":
  - perception/**/*
"component:planning":
  - planning/**/*
"component:sensing":
  - sensing/**/*
"component:simulation":
  - simulator/**/*
"component:system":
  - system/**/*
"component:tools":
  - tools/**/*
"component:vehicle":
  - vehicle/**/*
